<?xml version="1.0" encoding="UTF-8" standalone="no"?><serverSettings>
  <socketAddresses>
    <socket address="0.0.0.0" port="9933" type="TCP"/>
    <socket address="127.0.0.1" port="9933" type="UDP"/>
  </socketAddresses>
  <ipFilter>
    <addressBlackList>
      <string>1.2.3.4</string>
    </addressBlackList>
    <addressWhiteList>
      <string>127.0.0.1</string>
    </addressWhiteList>
    <maxConnectionsPerAddress>9999999</maxConnectionsPerAddress>
  </ipFilter>
  <flashCrossdomainPolicy>
    <useMasterSocketPolicy>true</useMasterSocketPolicy>
    <policyXmlFile>crossdomain.xml</policyXmlFile>
  </flashCrossdomainPolicy>
  <systemControllerRequestQueueSize>20000</systemControllerRequestQueueSize>
  <extensionControllerRequestQueueSize>20000</extensionControllerRequestQueueSize>
  <schedulerThreadPoolSize>4</schedulerThreadPoolSize>
  <protocolCompressionThreshold>1024</protocolCompressionThreshold>
  <protocolMode>BINARY</protocolMode>
  <useBinaryProtocol>true</useBinaryProtocol>
  <remoteAdmin>
    <administrators>
      <adminUser>
        <login>sfsadmin</login>
        <password>sfsadmin</password>
      </adminUser>
    </administrators>
    <allowedRemoteAddresses>
    </allowedRemoteAddresses>
    <adminTcpPort>-1</adminTcpPort>
    <useEncryption>false</useEncryption>
  </remoteAdmin>
  <bannedUserManager>
    <isAutoRemove>true</isAutoRemove>
    <isPersistent>true</isPersistent>
    <customPersistenceClass/>
  </bannedUserManager>
  <extensionRemoteDebug>true</extensionRemoteDebug>
  <useFriendlyExceptions>true</useFriendlyExceptions>
  <mailer>
    <isActive>false</isActive>
    <mailHost>your.smtp.here</mailHost>
    <mailUser>username</mailUser>
    <mailPass>password</mailPass>
    <smtpPort>25</smtpPort>
    <workerThreads>1</workerThreads>
  </mailer>
  <webServer>
    <isActive>true</isActive>
    <blueBoxPollingTimeout>26</blueBoxPollingTimeout>
    <blueBoxMsgQueueSize>40</blueBoxMsgQueueSize>
	 <isWSActive>true</isWSActive>
  </webServer>
  <analytics>
    <isActive>false</isActive>
    <runOnDay>[everyday]</runOnDay>
    <runAtHour>2</runAtHour>
    <runOnStartup>false</runOnStartup>
    <rebuildDB>false</rebuildDB>
    <skipGeolocation>false</skipGeolocation>
    <sourceFolder/>
    <locale/>
  </analytics>
 <systemThreadPoolSettings>
   <name>Sys</name>
   <coreThreads>4</coreThreads>
   <backupThreads>16</backupThreads>
   <maxBackups>64</maxBackups>
   <queueSizeTriggeringBackup>100</queueSizeTriggeringBackup>
   <secondsTriggeringBackup>50</secondsTriggeringBackup>
   <backupThreadsExpiry>3600</backupThreadsExpiry>
   <queueSizeTriggeringBackupExpiry>60</queueSizeTriggeringBackupExpiry>
   <logActivity>true</logActivity>
   <queueFullWarningInterval>300</queueFullWarningInterval>
 </systemThreadPoolSettings>
 <extensionThreadPoolSettings>
   <name>Ext</name>
   <coreThreads>4</coreThreads>
   <backupThreads>16</backupThreads>
   <maxBackups>64</maxBackups>
   <queueSizeTriggeringBackup>100</queueSizeTriggeringBackup>
   <secondsTriggeringBackup>50</secondsTriggeringBackup>
   <backupThreadsExpiry>3600</backupThreadsExpiry>
   <queueSizeTriggeringBackupExpiry>60</queueSizeTriggeringBackupExpiry>
   <logActivity>true</logActivity>
   <queueFullWarningInterval>300</queueFullWarningInterval>
 </extensionThreadPoolSettings>
  <startExtensionFileMonitor>true</startExtensionFileMonitor>
  <useDebugMode>true</useDebugMode>
  <sessionMaxIdleTime>30</sessionMaxIdleTime>
  <userMaxIdleTime>300</userMaxIdleTime>
  <licenseCode/>
  <licenseEmails/>
  <ghostHunterEnabled>true</ghostHunterEnabled>
  <statsExtraLoggingEnabled>true</statsExtraLoggingEnabled>
</serverSettings>