# This is a basic workflow to help you get started with Actions

name: OWOServerChecker

on:
  schedule:
  - cron: "*/15 * * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  CheckServer:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: | 
             npm install octokit
             npm install xhr2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: node OWOLiveCheck.js
